<% if @note %>
  <p>The following note is about to be deleted:</p>
  <br />
  <blockquote><%= @note.content %></blockquote>
  <br />
  <p>Are you sure you would like to delete this note?</p>
  <br />
  <form action="/<%= @note.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Kill it with fire!">
    <a href="/<%= @note.id %>">Actually, let's keep it</a>
  </form>
<% else %>
  <p>Note not found.</p>
<% end %>
