<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | TODO Tracker' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">TODO Tracker</a></h1>
      <h2>Because pen and paper is for chumps.</h2>
      <h4>Store all your important tasks here so your squishy brain doesn't have to.</h4>
    </hgroup>
  </header>

  <% if flash[:notice] %>
    <div id="flash" class="notice">
      <%= flash[:notice] %>
      <span class="close"><a class="close" data-dismiss="alert">&#215;</a></span>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div id="flash" class="error">
      <%= flash[:error] %>
      <span class="close"><a class="close" data-dismiss="alert">&#215;</a></span>
    </div>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>An app for forgetful people, created by <a href="https://github.com/O-kasso">this guy</a>.</small></p>
  </footer>
</body>
</html>
