body {
    margin: 35px auto;
    width: 640px;
    background-color: #073642;
    color: #93A1A1;
}
 
header {
    text-align: center;
    margin: 0 0 20px;
}
 
header h1 {
    display: inline;
    font-size: 32px;
}
 
header h1 a:link, header h1 a:visited {
    color: #268BD2;
}
 
header h2 {
    font-size: 16px;
    font-style: italic;
    color: #859900;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;  
}
#main {
    margin: 0 0 20px;
}
 
#add {
    margin: 0 0 20px;
}
 
#add textarea {
    height: 50px;
    width: 510px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #EEE8D5;
}
 
#add input {
    height: 72px;
    width: 100px;
    float: right;
    border: 1px solid #EEE8D5;
    background: #268BD2;
}
 
#edit textarea {
    height: 30px;
    width: 480px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #EEE8D5;
}
 
#edit input[type=submit] {
    height: 50px;
    width: 100px;
    margin: -50px 0 0;
    border: 1px solid #ddd; 
    background: #268BD2;
}
 
#edit input[type=checkbox] {
    height: 50px;
    width: 20px;
}
 
.list {
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

article {
    border: 1px solid #eee;
    border-top: none;
    padding: 15px 10px;
    background: #CCC6B3;
    color: #268BD2;
}
 
article:first-of-type {
    border: 1px solid #eee;
}
 
article:nth-child(even) {
    background: #EEE8D5;
}
 
article.complete {
    background: #859900;
    color: #EEE8D5;
}
 
article span {
    font-size: 0.8em;
    color: #B58900;
}
 
p {
    margin: 0 0 5px;
}
 
.meta {
    font-size: 0.8em;
    font-style: italic;
    color: #268BD2
}

.complete .meta {
    color: #EEE8D5;
}
 
.links {
    font-size: 2.8em;
    line-height: 0em;
    float: right;
    
}
 
.links a {
    display: block;
    text-decoration: none;
    color: #859900;
}

.complete .links a {
    color: #268BD2;
}

.notice#flash {
  display: block;
  color: #EEE8D5;
  background: #859900;
  padding: 4px;
  margin: 12px 0;
}

.error#flash { 
  display: block;
  color: #EEE8D5;
  background: #DC322F;
  padding: 4px;
  margin: 12px 0;
}

.close {
  float: right;
  color: #EEE8D5;
  padding: 0 8px;
}

blockquote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  /* font-family: Georgia, serif; */
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #268BD2;
  border-right: 2px solid #268BD2;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: -18px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "\201D";

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  right: 10px;
  top: 22px;
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}
